





.footer11 {
    width: 1330px;
    height: 300px;
    background: #BB2339;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    z-index: 1;
    position: relative;

}

.shriftlar {
    margin-left: 160px;
    width: 1000px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.shriftlar h2 {
    color: white;
}

.shriftlar h1 {
    color: white;
    font-size: 40px;
}

.shriftlar p {
    color: white;
}

.inpbtn {
    width: 1000px;
    height: 150px;
    margin-left: 170px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}


.inpbtn input {
    width: 450px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid white;
    background: #BB2339;
    color: white;
    padding-left: 30px;
}

.inpbtn button {
    width: 120px;
    height: 50px;
    border-radius: 30px;
    border: 2px solid white;
    background: #BB2339;
    color: gray;
    padding-left: 30px;
    color: white;
    margin-left: 30px;
    display: flex;
    align-items: center;
    padding-right: 20px;
}


.footer21 {
    width: 1920px;
    height: 500px;
    background: #BB2339;
    margin-top: -160px;
    z-index: -1;
    padding-top: 100px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;


}


.a1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: #000; */
}

.a2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    width: 400px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.a2 .i a {
    color: white;
}

.a3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    width: 400px;
    height: 150px;
    font-weight: 200;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}